
        <div class="container-fluid bg-dark">
            <div class="container">
                <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 g-2 mt-4">
                    <div class="col">
                        <div class="mt-4">
                            <h3 class="text_footer" style="color: #e65100;"><i class="fas fa-building fa-2x"
                                    style="color: #e65100;"></i>
                                CLIMÁTIS</h3>
                        </div>
                        <p class="Endereco" style="font-size:larger">Rua Itatiaia, 1807
                            </p>
                            <p class="Endereco" style="font-size:larger">Portão - Curitiba - Pr</p>
                           <!-- <p class="Endereco" style="font-size:larger">Ligue para nós <a href="tel:+55041996131762"><i
                                        class="fa fa-phone-square fa-2x"></i>
                                </a></p>-->

                    </div>
                    <div class="col px-md-5">
                        <h3 class="text_footer mt-4" style="color: #e65100;"><i class="fas fa-business-time fa-2x"
                                style="color: #e65100;"></i> Horários:</h3>
                        <p class="Endereco" style="font-size:larger">Seg à sexta: das 08:00 às 18:00 H</p>
                        <p class="Endereco" style="font-size:larger">Sábado: das 08:00 às 14:00 H</p>
                        
                    </div>
                    <div class="col">
                        <h3 class="text_footer mt-4" style="color: #e65100;"><i class="fas fa-newspaper fa-2x"
                                style="color: #e65100;"></i> Últimas do Blog:
                        </h3>
                        <p class="Endereco" style="font-size:larger"><a
                                href="https://www.climatis.com.br/Blog/ar-condicionado-central-vs-split-qual-o-melhor-para-sua-casa/"
                                target="_blank">Ar Condicionado Central vs. Split: Qual o Melhor para Sua Casa?</a></p>
                        <p class="Endereco" style="font-size:larger"><a
                                href="https://www.climatis.com.br/Blog/infraestrutura-ar-condicionado/"
                                target="_blank">Infraestrutura para Ar Condicionado</a></p>
                        <p class="Endereco" style="font-size:larger"><a
                                href="https://www.climatis.com.br/Blog/qualidade-do-ar-interior/"
                                target="_blank">Qualidade do Ar Interior</a></p>
                        <p class="Endereco" style="font-size:larger"><a
                                href="https://www.climatis.com.br/Blog/renovacao-do-ar-e-o-ar-condicionado/"
                                target="_blank">Renovação do Ar e o Ar Condicionado</a></p>
                        <p class="Endereco" style="font-size:larger"><a href="https://www.climatis.com.br/Blog/pmoc/"
                                target="_blank">PMOC Ar
                                Condicionado - sua importância</a>
                        </p>

                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-2 mt-4">
                    <div class=" col">
                        <h3 class="text_footer mt-4" style="color: #e65100;"><i class="fas fa-users fa-2x"
                                style="color: #e65100;"></i> Redes Sociais</h3>
                        <nav id="sociais-footer">
                            <ul>
                                <li class="nav-item " style="display: inline;">
                                    <a class="nav-link sociais-footer" href="https://www.facebook.com/EmpresaClimatis"
                                        target="_blank" style="display: inline;"><i
                                            class="fab fa-facebook-f text-white fa-2x"></i></a>
                                </li>
                                <li class="nav-item " style="display: inline;"><a class="nav-link mx-2 sociais-footer"
                                        href="https://www.instagram.com/empresa_climatis" target="_blank"
                                        style="display: inline;"><i
                                            class="fab fa-instagram-square text-white fa-2x"></i></a>
                                </li>
                                <li class="nav-item " style="display: inline;"><a class="nav-link mx-2 sociais-footer"
                                        href="https://t.me/empresa_climatis" target="_blank" style="display: inline;"><i
                                            class="fab fa-telegram-plane text-white fa-2x "></i></a>
                                </li>
                                <li class="nav-item " style="display: inline;"><a class="nav-link mx-2 sociais-footer"
                                        href="https://wa.me/5541988956598?text=sua mensagem" target="_blank"
                                        style="display: inline;"><i class="fab fa-whatsapp text-white fa-2x "></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col">
                        <h3 class="text_footer mt-4" style="color: #e65100;"><i class="far fa-credit-card fa-2x"
                                style="color: #e65100;"></i> Formas de Pagamento</h3>
                        <div class="row">
                            <ul>
                                <img src="images/png/meios-pagto/boleto-bancario.png" alt="boleto bancário">
                                <img src="images/png/meios-pagto/cartao-visa.png" alt="cartão visa">
                                <img src="images/png/meios-pagto/cartao-mastercard.png" alt="cartão mastercard">
                                <img src="images/png/meios-pagto/cartoes-elo.png" alt="cartão elo">
                                <img src="images/png/meios-pagto/cartao-hipercard.png" alt="cartão hipercard">
                                <img src="images/png/meios-pagto/cartao-american-express.png"
                                    alt="cartão american express">
                                <img src="images/png/meios-pagto/cartao-diners-club.png" alt="cartão diners club">
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col text-center">
                        <p class="Endereco" style="font-size:medium">Copyright &copy; 2020 &middot; Todos os
                            direitos reservados</p>
                    </div>
                </div>
            </div>
        </div>
  