 <a href="https://wa.me/5541988956598?text=sua mensagem" class="btn-whatsapp"><i
        class="fab fa-whatsapp text-white  "></i></a>
    <header>

        <div class="container">
            <div class="row justify-content-evenly my-sm-3">
                <div class="col-sm-12 text-center col-lg-3 g-2">
                    <ul class="social-icon-top me-auto mb-2 mb-lg-0">
                        <li>
                            <a class=" mx-2" href="https://www.facebook.com/EmpresaClimatis" target="_blank"><i
                                    class="fab fa-facebook-f fa-2x icon-sociais"></i></a></li>
                        <li> <a class=" mx-2" href="https://www.instagram.com/empresa_climatis" target="_blank"><i
                                    class="fab fa-instagram-square fa-2x icon-sociais"></i></a></li>

                        <li> <a class=" mx-2" href="https://t.me/empresa_climatis" target="_blank"><i
                                    class="fab fa-telegram-plane fa-2x icon-sociais"></i></a></li>

                        <li> <a class=" mx-2" href="https://wa.me/5541988956598?text=sua mensagem" target="_blank"><i
                                    class="fab fa-whatsapp fa-2x icon-sociais"></i></a></li>
                    </ul>
                </div>
                <div class="col-sm-12 text-center col-lg-3 g-2 " style="padding: 1em;">
                    <a href="mailto:atendimento@climatis.com.br" class="icon-mail"><i class="fas fa-envelope">
                            </i> atendimento@climatis.com.br</a></div>

               <!--<div class="col-sm-12 text-center col-lg-3 g-2">
                    <i class="fa fa-phone-square fa-2x  tel-icon"></i><a class="tel-top" href="tel:+55041996131762"> 41
                        9
                        9613-1762
                    </a>
                </div>--> 
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-md-top">
            <div class="container">
                <a class="navbar-brand"><img src="images/png/Climatis-logo-atual-2021.png" title="logo da Climátis"
                        alt="logotipo Climatis" loading="lazy"></a>
                <div class="row ">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mb-2 mb-lg-0">
                            <li class="nav-item ">
                                <a class="nav-link mx-3" aria-current="page" href="index.html"><i
                                        class="fas fa-home p-1 fa-2x"></i>Home</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link mx-3" href="servicos-de-ar-condicionado-e-refrigeracao.html"><i
                                        class="fas fa-tools p-1 fa-2x"></i>Serviços</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link mx-3" href="empresa-climatis.html"><i
                                        class="fas fa-building p-1 fa-2x"></i>Empresa
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link mx-3" href="faq-ar-condicionado-e-refrigeracao.html"><i
                                        class="fas fa-question p-1 fa-2x"></i>FAQ</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link mx-3" href="contato.html"><i
                                        class="far fa-edit p-1 fa-2x"></i>Contato</a>
                            </li>
                          
                            <li class="nav-item ">
                                <a class="nav-link mx-3" href="https://www.climatis.com.br/Blog" target="_blank"><i
                                        class="fab fa-wordpress p-1 fa-2x"></i>Blog</a>
                            </li>
                    </div>
                </div>
            </div>
        </nav>
    </header>